@model StudentUpdatedViewModel

@{
    var sexes = Model.Sexes
        .Select(i => new SelectListItem() { Text = i, Value = i });

    var classes = Model.Classes
        .Select(i => new SelectListItem() { Text = i, Value = i });
}

<div id="main">
    <h2 style="text-shadow: 0 0 10px white">Student update</h2>

    <div style="margin-top: 20px;">
        <a style="margin: 0 10px 0 0;" class="menu-item-btn" href="/Class/Get">Class</a>
        <a class="menu-item-btn" href="/ClassType/Get">ClassType</a>
        <a class="menu-item-btn" href="/Schedule/Get">Schedule</a>
        <a class="menu-item-btn" href="/Student/Get">Student</a>
        <a class="menu-item-btn" href="/Subject/Get">Subject</a>
        <a class="menu-item-btn" href="/Teacher/Get">Teacher</a>
    </div>

    <form class="changing-form" method="post" asp-action="Update">
        <div class="field-container">
            <label style="font-weight: bold; text-shadow: 0 0 10px white;" asp-for="Surname"></label>
            <div>
                <input class="input-props" asp-for="Surname" />
                <span class="error-mes-span" style="color: red; font-size: 90%;" asp-validation-for="Surname"></span>
            </div>
        </div>

        <div class="field-container">
            <label style="font-weight: bold; text-shadow: 0 0 10px white;" asp-for="Name"></label>
            <div>
                <input class="input-props" asp-for="Name" />
                <span class="error-mes-span" style="color: red; font-size: 90%;" asp-validation-for="Name"></span>
            </div>
        </div>

        <div class="field-container">
            <label style="font-weight: bold; text-shadow: 0 0 10px white;" asp-for="MiddleName">Middle name</label>
            <div>
                <input class="input-props" asp-for="MiddleName" />
                <span class="error-mes-span" style="color: red; font-size: 90%;" asp-validation-for="MiddleName"></span>
            </div>
        </div>

        <div class="field-container">
            <label style="font-weight: bold; text-shadow: 0 0 10px white;" asp-for="BirthDate">Birth date</label>
            <div>
                <input class="input-props" asp-for="BirthDate" type="date" />
                <span class="error-mes-span" style="color: red; font-size: 90%;" asp-validation-for="BirthDate"></span>
            </div>
        </div>

        <div class="field-container">
            <label style="font-weight: bold; text-shadow: 0 0 10px white;" asp-for="Sex"></label>
            <div>
                <select class="select-props" asp-for="Sex" asp-items="@sexes"></select>
            </div>
        </div>

        <div class="field-container">
            <label style="font-weight: bold; text-shadow: 0 0 10px white;" asp-for="Address"></label>
            <div>
                <input class="input-props" asp-for="Address" />
                <span class="error-mes-span" style="color: red; font-size: 90%;" asp-validation-for="Address"></span>
            </div>
        </div>

        <div class="field-container">
            <label style="font-weight: bold; text-shadow: 0 0 10px white;" asp-for="MotherFullName"></label>
            <div>
                <input class="input-props" asp-for="MotherFullName" />
                <span class="error-mes-span" style="color: red; font-size: 90%;" asp-validation-for="MotherFullName"></span>
            </div>
        </div>

        <div class="field-container">
            <label style="font-weight: bold; text-shadow: 0 0 10px white;" asp-for="FutherFullName"></label>
            <div>
                <input class="input-props" asp-for="FutherFullName" />
                <span class="error-mes-span" style="color: red; font-size: 90%;" asp-validation-for="FutherFullName"></span>
            </div>
        </div>

        <div class="field-container">
            <label style="font-weight: bold; text-shadow: 0 0 10px white;" asp-for="AdditionalInfo"></label>
            <div>
                <input class="input-props" asp-for="AdditionalInfo" />
                <span class="error-mes-span" style="color: red; font-size: 90%;" asp-validation-for="AdditionalInfo"></span>
            </div>
        </div>

        <div class="field-container">
            <label style="font-weight: bold; text-shadow: 0 0 10px white;" asp-for="Class"></label>
            <div>
                <select class="select-props" asp-for="Class" asp-items="@classes"></select>
            </div>
        </div>

        <button class="action-btn" type="submit">Submit</button>
    </form>
</div>