<div style="margin-top: 130px; margin-left: 500px;">
    <h1 style="font-size: 300%;">School</h1>

    <ul style="margin-top: 20px;">
        <li><a href="/Class/Get">Class</a></li>
        <li><a href="/ClassType/Get">Class Type</a></li>
        <li><a href="/Schedule/Get">Schedule</a></li>
        <li><a href="/Student/Get">Student</a></li>
        <li><a href="/Subject/Get">Subject</a></li>
        <li><a href="/Teacher/Get">Teacher</a></li>
    </ul>
</div>

<p></p>
<p>&nbsp;</p>
<p>&nbsp;</p>